<!DOCTYPE html>
<html>
<head>
  <title>TestBrakeman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= link_to "example.org", target: "_blank" %>
</head>
<body>

<%= yield %>

</body>
</html>
